@media (max-width: 600px) {
  * {
      text-align: center;
      float: none;
      margin: 0 auto 20px;
      line-height: 1.8;
  }

  .navbar a {
    float: none;
    display: block;
  }
}

@media print {

  body {
      margin: 0;
      color: #000;
      background-color: #fff;
  }
  .navbar li {
      font-size: 12px !important;
  }

  iframe{
      width: 150px;
      height: 150px;
  }
}

#header{
  width: 100%;
}
#continut{
  padding: 10px;
  /*background-image: url("../imagini/backg.jpg");*/
}
body {
    padding: 0px;
    margin: 0px;
    background-color: #B0C4DE;
    font-size: 1.3rem;
}
nav {
    display: horizontal;
    padding: 14px;
    background-color: #2366FF;
  }

nav a{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 14px 16px;
    text-decoration: none;
  }

nav a:hover {
    background-color: #1356DF;
    cursor: pointer;
  }


  .tabel {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }

  .logo{
    transition: width 0.5s;
    transition: height 0.2s;
  }
  .logo:hover{
    width: 210px;
    height: 105px;
  }
  
  .tabel td, .tabel th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  .tabel tr:hover {background-color: #ddd;}
  
  .tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1356DF;
    color: white;
  }

#dollar{
	display: flex;
	justify-content: center;
	align-items: center;
	animation: rotateAnimation 5s linear infinite;
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

#dollar svg:hover{
	transform: rotateZ(-45deg);
}

aside {
  width: 40%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #0d222c;
}

aside > p {
  margin: .5rem;
}

p {
  font-family: 'Fira Sans', sans-serif;
}

#star{
  size: 50%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#section_3_table{
  width: 200px;
  height: 200px;
  border: 2px groove black;
  overflow-x:auto;
  border-spacing: 0;
}

#section_3_table td{
  border: 1px solid black ;
}


form input, form select, form textarea{
  font-size: 1.2rem;
  width: 15%;
  border:1px solid #2366FF;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;
  margin: 5px;
  padding: 5px;
}

form label{
  width: 15%;
  font-size: 1.3rem;
}

form textarea:focus {
  background-color: #B1B8C4;
}

form select:hover {
  background-color:white;
}

form input:focus{
  background-image: linear-gradient(to right,white,#9db2e2);
}

button, form [type=submit], form [type=button] {
  cursor: pointer;
  font-size: 1.3rem;
}

aside>form input, aside>form select, aside>form label{
  width: 30%;
}
form #culoare{
  width: 40px;
  height: 40px;
}

form #culoare, form #sex_select{
  width: 80px;
}

aside>form #accept, form #ora, form #data_nasterii{
  width: auto;
}

canvas {
  background-color:white;
}